body {
    overflow-x: hidden;
    background-color: #53773A;
}
.home-body {
    overflow-x: hidden;
    background-color: #D89814;
}
h1 {
    text-align: center;
    padding: 2%;
}
.row {
    margin: 5%;
}
.col-md-3 {
    height: 15%;
}
.row p {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}
img {
    border: solid white 2px;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

@media (min-width: 576px) {
    .modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}
