body {
    overflow-x: hidden;
    background-color: #53773A;
}
h1 {
    text-align: center;
}
.row {
    margin: 5%;
}
.col-md-3 {
    width: 20%;
}
img {
    width: 100%;
    border: solid white 2px;
    margin: 2%;
}
