@font-face {
    font-family: Varsity;
    src: url(../fonts/FONT_VarsityTeam-Bold.otf)
}

body {
  overflow:hidden;
}

.view {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  transform:skew(-25deg);
  z-index: 1;
}

.left,
.right {
  bottom:0;
  overflow:hidden;
  position:absolute;
  top:0;
}

.left { 
  left:-50%;  
  right:50%;  
}

.divider {
  background-color:#fc0;
  border-left:solid 2px #000;
  border-right:solid 2px #000;
  bottom:-5%;
  left:49.5%;
  position:absolute;
  right:49.5%;
  top:-5%;
  z-index:1;
}

.right {
  left:50%;
  right:-50%;
}

.home,
.away {
  bottom:-1%;
  left:-1%;
  position:absolute;
  right:-1%;
  top:-1%;
}

.home {
  background-color: #D89814;
  padding-left: 45%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;

}

.home img {
    position: absolute;
    width: 20%;
    transform: skew(25deg);
    margin-left: 20%;
    top: 25%;
}

.away img {
    position: absolute;
    width: 20%;
    transform: skew(25deg);
    margin-right: 20%;
    top: 25%;
}

.away {
  background-color: #53773A;
  padding-right: 45%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.away h1 {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 8%;
}

#vs {
  width:250px;
  height:250px;
  margin:0 auto; 
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-125px;
  margin-top:-125px;
  text-align: center;
  font-size: 4em;
  font-family: Varsity;
  text-shadow: -3px -3px 2px #ffffff;
  z-index: 100;
  background-image: url("../img/explosion.png");
  background-size: cover;
}

p {
    text-align: center;
    line-height: 120px;
}

button {
    font-size: 1.5em;
}

.home a {
    align-self: flex-end;
    display: inline-block;
}
h1 {
    font-family: Varsity;
    font-size: 2.3em;
    text-shadow: 3px 3px 2px #ffffff;
}
