@font-face {
  font-family: Varsity;
  src: url(../fonts/FONT_VarsityTeam-Bold.otf)
}

html, body {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
}

.view {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.left,
.right {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.left {
  left: -50%;
  right: 50%;
}

.divider {
  background-color: #F14622;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
  bottom: -5%;
  left: 49.5%;
  position: absolute;
  right: 49.5%;
  top: -1%;
  z-index: 1;
}

.right {
  left: 50%;
  right: -50%;
}

.home,
.away {
  bottom: -1%;
  left: -1%;
  position: absolute;
  right: -1%;
  top: -1%;
}

.home {
  background-color: #D89814;
  padding-left: 45%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-end;
}

.home .stack-em {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.away .stack-em {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.away {
  background-color: #53773A;
  padding-right: 45%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.away h1 {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 8%;
}

.header {
  padding: 10px;
  height: auto;
}

.team-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.team-bar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}


.pusher {
  height: calc(200px - 20vw);
  width: 3vw;
}

.home .pusher {
  align-self: flex-end;
}


.home button {
  align-self: flex-end;
}

#vs {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  text-align: center;
  font-size: 3.5vw;
  font-family: Helvetica;
  font-weight: 900;
  text-shadow: -3px -3px 2px #ffffff;
  z-index: 100;
  display: flex;
  justify-content: center;
}

#vs img {
  max-width: 20vw;
  max-height: 20vw;
  margin: auto;
}

p {
  text-align: center;
}


button {
  font-size: 3vw;
  font-family: Helvetica;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #ffffff;
}

.away-button {}

.home-button {}

.home a {
  align-self: flex-end;
  display: inline-block;
}

h1 {
  font-family: Varsity;
  font-size: 10vmin;
  text-shadow: 3px 3px 2px #ffffff;
}

h1.light {
  color: #dddddd;
  text-shadow: 3px 3px 2px #000;
}

h2 {
  font-family: Varsity;
  font-size: 5vmin;
  text-shadow: 3px 3px 2px #ffffff;
}