@font-face {
  font-family: Varsity;
  src: url(../fonts/FONT_VarsityTeam-Bold.otf)
}

html, body {
  background-color: #D89814;
  overflow-x: hidden !important;
  height: 100%;
}

.view {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left,
.right {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.left {
  left: -50%;
  right: 50%;
}

.right {
  left: 50%;
  right: -50%;
  background-color: #53773A;
}

.divider {
  background-color: #000;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
  bottom: -5%;
  left: 49.5%;
  position: absolute;
  right: 49.5%;
  top: -1%;
  z-index: 1;
}


.away h1 {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 8%;
}

.header {
  width: 100%;
  padding: 10px;
  height: auto;
  align-items: center;

}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.team-container {
  width: 100%;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
}

.team-bar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}


.home button {
  align-self: flex-end;
}

#vs {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  text-align: center;
  font-size: 3.5vw;
  font-family: Helvetica;
  font-weight: 900;
  text-shadow: -3px -3px 2px #ffffff;
  z-index: 100;
  display: flex;
  justify-content: center;
}

#vs img {
  max-width: 20vw;
  max-height: 20vw;
  margin: auto;
}

p {
  text-align: center;
}

button {
  padding: 5px 12px 5px 12px;
  font-size: 1.5vw;
  background-color: black;
  color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 2px 2px #ffffff;
}

.away-button {}

.home-button {}

.home a {
  align-self: flex-end;
  display: inline-block;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: Varsity;
  font-size: 10vmin;
  text-shadow: 3px 3px 2px #ffffff;
}

h1.light {
  color: #dddddd;
  text-shadow: 3px 3px 2px #000;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Varsity;
  font-size: 5vmin;
  text-shadow: 3px 3px 2px #ffffff;
}


h2.light {
  color: #dddddd;
  text-shadow: 3px 3px 2px #000;
}

.team-container-single {
  width: 100%;
  height: 100%;
  display: flex;
  transform: skew(-25deg);
}

.home {
  background-color: #D89814;
  padding-left: 45%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-end;
}

.away {
  background-color: #53773A;
  padding-right: 45%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.away h1 {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 8%;
}

.home button {
  align-self: flex-end;
}

#vs {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  text-align: center;
  font-size: 3.5vw;
  font-family: Helvetica;
  font-weight: 900;
  text-shadow: -3px -3px 2px #ffffff;
  z-index: 100;
  display: flex;
  justify-content: center;
}

#vs img {
  max-width: 20vw;
  max-height: 20vw;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .h1 {
    text-shadow: 2px 2px 1px;
  }

  .h2 {
    text-shadow: 2px 2px 1px #ffffff;
  }

  button {
    font-size: 2.5vw;
    box-shadow: 1px 1px 1px;
  }
}

@media screen and (max-width: 400px) {

  h2 {
    font-size: 6vmin;
    text-shadow: 1px 1px 1px #ffffff;
  }

  button {
    font-size: 3vw;
    box-shadow: 1px 1px 1px;
  }
}