<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximal-scale=1, minimal-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/crd_logo.png') }}">
    <title>April Triple Header!</title>
</head>

<body>
    <div class="view">
        <div class="header">
            <h1>Triple Header!</h1>
            <div class="button-row">
                <a href="{{url_for('rules')}}"><button class="button">Roller derby rules</button></a>
                <a href="{{url_for('schedule')}}"><button class="button">Schedule</button></a>
            </div>
        </div>
        <div class="team-container">
            
            <div class="team-bar" style="background-color: #fb0605;">
                <h1>Swansea City Roller Derby</h1>
                <!-- <img class="logo" src="{{url_for('static', filename='img/crd_logo.png')}}"> -->
                <a href="{{url_for('away_1')}}"><button class="button">Team Roster!</button></a>
            </div>
            <div class="team-bar" style="background-color: #D89814;">
                <h1>Copenhagen Roller Derby</h1>
                <!-- <img class="logo" src="{{url_for('static', filename='img/crd_logo.png')}}"> -->
                <a href="{{url_for('home')}}"><button class="button">Team Roster!</button></a>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/style.js')}}"></script>
</body>

</html>