<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximal-scale=1, minimal-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>CRD Match</title>
</head>
<body>
    <div class="view">
        <div class="left">
            <div class="home">
                <h1>COPENHAGEN ROLLER DERBY A</h1>
                <a href="{{url_for('home')}}"><button class="btn btn-dark">See Roster</button></a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="right">
            <div class="away">
                <a href="{{url_for('away')}}"><button class="btn btn-dark">See Roster</button></a>
                <h1>GOTHENBURG ROLLER DERBY A</h1>
            </div>
        </div>
    </div>
    <div id="vs">
        <img class="logo" src="{{url_for('static', filename='img/crd_logo.png')}}">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{url_for('static', filename='img/explosion.png')}}">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img class="logo" src="{{url_for('static', filename='img/grd_logo.png')}}">
    </div>
    <script src="{{url_for('static', filename='js/style.js')}}"></script>
</body>
</html>
